<section class="data">
  <div class="container">
    <div class="heading">
      <h1 class="data__header data__header--location">{{location}}</h1>
      <p class="data__value--alt u-text-sm">{{values.createdAt}}</p>

    </div>

    <div class="data__block">
      <h1 class="data__header">
        Temperature
      </h1>
      <p class="data__value">
        {{values.temp}} &#176; C
      </p>
      {{#if values.temp_f}}
      <p class="data__value--alt">
        ({{values.temp_f}} &#176; F)
      </p>
      {{/if}}
    </div>
    <div class="data__block">
      <h1 class="data__header">
        Humidity
      </h1>
      <p class="data__value">{{values.humid}} %</p>
    </div>

  </div>
</section>